{% extends "layout.html" %}

{% block main %}

  <div class="background">
    <!-- Html for the video on the homepage and the tile and button on top of it 
    <div class="overflow" style="display: none;">
      <video playsinline autoplay muted loop class="back-video" id="back-video">
        <source src="static/media/drone.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    -->
  <div id="big-screen-slideshow">
    <div class="slideshow-container" style="overflow: hidden; width: 90%; max-height: 880px;"
      id="main-slideshow">
      <div>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides0" style="display: inherit;">
          <img src="static/media/hotel/nami-195.jpg" class="w-100" alt="View of the whole Nami Project from the outside">
        </div>
        <div class="mySlides0">
          <img src="static/media/hotel/The Nami-207.jpg" class="d-block w-100" alt="View of the rooms from the outside of the Nami Project">
        </div>
        <div class="mySlides0">
          <img src="static/media/cabins/3/The Nami-200.jpg" class="d-block w-100" alt="View of two of the cabins of the Nami Project from the outside">
        </div>
        <div class="mySlides0">
          <img src="static/media/cabins/4/The Nami-155.jpg" class="d-block w-100" alt="Inside space and view from one of the cabins">
        </div>
        <div class="mySlides0">
          <img src="static/media/rooms/4/The Nami-61.jpg" class="d-block w-100" alt="Inside view of the livingroom of one of the rooms">
        </div>
        <div class="mySlides0">
          <img src="static/media/hotel/The Nami-209.jpg" class="d-block w-100" alt="Top view of The Nami Project and of the ocean">
        </div>
        <div class="mySlides0">
          <img src="static/media/rooms/1/The Nami-274.jpg" class="d-block w-100" alt="Inside view of one of the rooms facing the ocean">
        </div>
        <div class="mySlides0">
          <img src="static/media/hotel/The Nami-75.jpg" class="d-block w-100" alt="Outside view facing the ocean and the cabins">
        </div>

        <a class="prev" onclick="plusSlides1(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides1(1, 0)">&#10095;</a>
      </div>
    </div>
  </div>
  <div style="width: 100%; height: auto; overflow: hidden; position: absolute; align-items: center" id="home-title-small">
    <img src="static/media/logo-black.png" width="300" style="display: flex; margin: 0 auto; margin-bottom: 470px;" alt="Black logo of The Nami Project">
  </div>

    <div style="height: auto; overflow: hidden" id="main-home-picture-small">
      <img src="static/media/hotel/The Nami-199.jpg" width="1050" style="margin-left: -160px;"alt="View of The Nami Project from a drone's perspective">
    </div>

    <div class="logo1" id="home-title-big">
      <img src="static/media/logo.png" class="logoBig" alt="White logo of The Nami Project" id="logoBig">
    </div>
    <div class="arrow" id="arrow">
      <i class="fa-sharp fa-solid fa-chevron-down fa-1x" onClick="document.getElementById('airbnb').scrollIntoView();"
        style="cursor: pointer; margin-top: -1vw"></i>
    </div>
  </div>

  <!-- <div style="font-size: 0.8vw; margin-top: 0.6vw;">
        <p >find your peace by the ocean</p></div>
        <p>
        <div>
          <button type="button" onclick=window.location.href='conservation.html' class="btn btn-secondary"
            onclick=window.location.href='conservation.html'>book your
            stay</button>
        </div>
        </p>
      -->

  <div class="background1" style="background: whitesmoke; width: 100%; height: auto;" id="airbnb">
    <br>
    <p style="margin-left: 5.5vw; font-size: 13px; " id="box1">
      EXPERIENCE IT ALL
    </p>
    <p class="text-left" style="font-size: 29px; margin-left: 5.5vw; margin-top: 10px; position: relative;" id="box2">
      By The Sea
    </p>
    <p class="text-left" style="margin-left: 5.5vw; margin-top: 0vw; font-size: 15px; position: relative;" id="box3"><a href="/rooms-cabins" style="color: black; text-decoration: none;">
      <u>
        Discover more
      </u></a>
    </p> <br>

  </div>

  <br><br>
  <div>
    <p class="text-center" style="margin-top: -20px;">
      OUR ROOMS & CABINS
    </p>
  </div>
  <div class="rooms-showcase-large" style="flex-direction: row; margin-top: 2vw;" id="rooms-showcase-large">
    <div class="slideshow-container" style="overflow: hidden; margin-right: 2vw; margin-left: 2vw; margin-top: 0vw; 
      margin-bottom: 3vw; width: 600px; display: flex; flex-direction: column;"><div>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides1" style="display: inherit;">
          <div class="numbertext">1 / 3</div>
          <img src="static/media/cabins/4/The Nami-165.jpg" class="w-100" alt="View of the front of two of the cabins from the outside">
        </div>

        <div class="mySlides1">
          <div class="numbertext">2 / 3</div>
          <img src="static/media/cabins/4/The Nami-154.jpg" class="d-block w-100" alt="Inside of a cabin facing the water">
        </div>

        <div class="mySlides1">
          <div class="numbertext">3 / 3</div>
          <img src="static/media/cabins/4/The Nami-155.jpg" class="d-block w-100" alt="Inside space and view from one of the cabins">
        </div>
        <a class="prev" onclick="plusSlides1(-1, 1)">&#10094;</a>
        <a class="next" onclick="plusSlides1(1, 1)">&#10095;</a>
      </div>
    </div>

    <p style="font-size: 23px; margin-left: 2vw; position: absolute; margin-top: 20vw; cursor: pointer;"><a href="/oceanfront" style="color: black; text-decoration: none;">
      OCEAN VIEW
    </a></p>

    <p style="font-size: 14px; margin-left: 2vw; position: absolute; margin-top: 22vw;">
      private sauna, private hot-tub, ocean-front, full kitchen
    </p>

    <p style="font-size: 15px; margin-left: 2vw; position: absolute; margin-top: 25vw; cursor: pointer;"><a href="/oceanfront" style="color: black; text-decoration: none;">
        Discover This Stay
    </a></p>

    <div class="slideshow-container"
      style="overflow: hidden; margin-right: 2vw; margin-top: 0vw; margin-bottom: 3vw; width: 600px">

      <div>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides2" style="display: inherit;">
          <div class="numbertext">1 / 3</div>
          <img src="static/media/cabins/1/The Nami-95.jpg" class="w-100" alt="Bedroom and view from a forest-front cabin">
        </div>

        <div class="mySlides2">
          <div class="numbertext">2 / 3</div>
          <img src="static/media/cabins/1/The Nami-82.jpg" class="w-100" alt="Livingroom and view from a forest front cabin">
        </div>

        <div class="mySlides2">
          <div class="numbertext">3 / 3</div>
          <img src="static/media/cabins/1/The Nami-97.jpg" class="w-100" alt="Bathroom and sauna view from a forest front cabin">
        </div>

        <a class="prev" onclick="plusSlides1(-1, 2)">&#10094;</a>
        <a class="next" onclick="plusSlides1(1, 2)">&#10095;</a>
      </div>

    </div>

    <p style="font-size: 23px; margin-left: 34.5vw; position: absolute; margin-top: 20vw; cursor: pointer;"><a href="/forest-view" style="color: black; text-decoration: none;">
      FOREST FRONT
    </a></p>

    <p style="font-size: 14px; margin-left: 34.5vw; position: absolute; margin-top: 22vw;">
      private sauna, private hot-tub, forest-view, full kitchen
    </p>

    <p style="font-size: 15px; margin-left: 34.5vw; position: absolute; margin-top: 25vw; cursor: pointer;"><a href="/forest-view" style="color: black; text-decoration: none;">
      Discover This Stay
  </a></p>

    <div class="slideshow-container"
      style="overflow: hidden; margin-right: 2vw; margin-top: 0vw; margin-bottom: 3vw; width: 600px">

      <div>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides3" style="display: inherit;">
          <div class="numbertext">1 / 3</div>
          <img src="static/media/rooms/3/The Nami-229.jpg" class="w-100" alt="View from the inside of one of the rooms of the Nami Project facing the ocean">
        </div>

        <div class="mySlides3">
          <div class="numbertext">2 / 3</div>
          <img src="static/media/rooms/3/The Nami-230.jpg" class="d-block w-100" alt="View of the livingroom and bathroom from one of the rooms of the Nami Project">
        </div>

        <div class="mySlides3">
          <div class="numbertext">3 / 3</div>
          <img src="static/media/rooms/3/The Nami-243.jpg" class="d-block w-100" alt="The inside of one of the saunas at the Nami Project">
        </div>

        <a class="prev" onclick="plusSlides1(-1, 3)">&#10094;</a>
        <a class="next" onclick="plusSlides1(1, 3)">&#10095;</a>
      </div>
    </div>

    <p style="font-size: 23px; margin-left: 67.5vw; position: absolute; margin-top: 20vw; cursor: pointer;"><a href="/rooms" style="color: black; text-decoration: none;">
      PREMIUM SUITES
    </a></p>

    <p style="font-size: 14px; margin-left: 67.5vw; position: absolute; margin-top: 22vw;">
      private sauna, saver prices/same beautiful location, full kitchen
    </p>

    <p style="font-size: 15px; margin-left: 67.5vw; position: absolute; margin-top: 25vw; cursor: pointer;"><a href="/rooms" style="color: black; text-decoration: none;">
      Discover This Stay
  </a></p>

  </div>

  <!-- ROOMS FOR SMALL SCREENS -->

  <div class="rooms-showcase-small" style="width: 100%;
    height: auto;" id="rooms-showcase-small">
    <div class="slideshow-container"
      style="max-height: 350px; overflow: hidden; width: 50vw; margin-bottom: 20px; width: 89vw; display: flex;">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides4" style="display: block;">
        <img src="static/media/cabins/4/The Nami-155.jpg" class="w-100 s1p1" alt="Inside space and view from one of the cabins">
      </div>
    </div>

    <p style="font-size: 23px; margin-left: 5vw; position: absolute;">
      OCEAN VIEW
    </p>

    <p style="font-size: 14px; margin-left: 5vw; position: absolute; margin-top: 40px;">
      private sauna, private hot-tub, ocean-front, full kitchen
    </p>

    <p style="font-size: 15px; margin-left: 5vw; position: absolute; margin-top: 65px; margin-bottom: 200px; font-weight: bolder;">
      Discover This Stay
   </p>

    <div class="slideshow-container text-center"
      style=" max-height: 350px; overflow: hidden; width: 50vw; margin-top: 150px; margin-bottom: 3vw; width: 89vw; display: flex;">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides5" style="display: block;">
        <img src="static/media/cabins/1/The Nami-95.jpg" class="w-100 s2p1" alt="Bedroom and view from a forest-front cabin">
      </div>
    </div>

    <p style="font-size: 23px; margin-left: 5vw; position: absolute;">
      FOREST FRONT
    </p>

    <p style="font-size: 14px; margin-left: 5vw; position: absolute; margin-top: 40px;">
      private sauna, private hot-tub, forest-view, full kitchen
    </p>

    <p style="font-size: 15px; margin-left: 5vw; position: absolute; margin-top: 65px; margin-bottom: 200px; font-weight: bolder;">
      Discover This Stay
      </p>

    <div class="slideshow-container text-center"
      style=" max-height: 350px; overflow: hidden; width: 50vw; margin-top: 150px; margin-bottom: 3vw; width: 89vw; display: flex;">

      <div>
        <!-- Full-width images with number and caption text -->
        <div style="display: block;">
          <img src="static/media/rooms/3/The Nami-229.jpg" class="w-100 s3p1" alt="View from the inside of one of the rooms of the Nami Project facing the ocean">
        </div>
      </div>
    </div>

    <p style="font-size: 23px; margin-left: 5vw; position: absolute;">
      PREMIUM SUITES
    </p>

    <p style="font-size: 14px; margin-left: 5vw; position: absolute; margin-top: 40px;">
      private sauna, saver prices/same beautiful location, full kitchen
    </p>

    <p style="font-size: 15px; margin-left: 5vw; position: absolute; margin-top: 65px; margin-bottom: 200px; font-weight: bolder;">
      Discover This Stay
      </p>
  </div>

  <br><br><br>
  <div style="flex-direction: row;" class="lines">
    <hr class="my-3" style="margin-left: 33px;" width="300">
    <hr class="my-3" style="margin-left: 245px;" width="300">
    <hr class="my-3" style="margin-left: 15.2vw;" width="300">
  </div>
  <div style="margin-top: 60px; margin-bottom: -30px" id="line-0">
    <hr class="my-3" width="200">
  </div>
  <div style="width: 100%; margin-top: 70px">
    <p class="text-center" style="font-size: 23px">OUR PURPOSE</p>
    <p class="text-center articleText" style="margin-top: 30px;">
      Nestled beside the Pacific Rim National Park in Ucluelet, British Columbia, Canada, in front of the crashing waves
      of the majestic Pacific Ocean, The Nami Project was created for the purpose of a personal escape or just the
      destination of the wanderlust desire of a traveller. A unique ocean side fortress of serenity built for a calming
      or invigorating escape experience.
    </p>
  </div>
  <br><br>
  <br>

  <div class="showcase">
    <div id="line-1">
      <hr class="my-3" width="200">
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; width: 100%; margin-top: -60px;"
    id="showcase">
    <img src="static/media/cabins/1/The Nami-82.jpg" alt="Livingroom and view from a forest front cabin"
      style="margin: 0 auto; margin-top: 90px; margin-bottom: 30px" id="showcase-p1">
    <hr class="my-3" width="200" id="line" style="margin: 0 auto;">
    <p style="font-size: 11px; margin-top: 2vw; direction: flex; margin: 0 auto">
      RECONNECTING WITH NATURE
    </p>
    <p style="font-size: 20px; direction: flex; margin: 0 auto">
      A New Experience
    </p>
    <p class="text-center" style="font-size: 13px; margin-right: 0px; direction: flex; margin: 20px 50px">
      Dedicated to teaching individuals to rediscover this elusive state, these unique six-night spiritual retreats
      will be led by renowned Buddhist monk Master Geshe La.
    </p>
    <p style="font-size: 14px; direction: flex; margin: 0 auto; margin-bottom: 30px"><u>
        Discover more</u></p>
    <img src="static/media/cabins/2/The Nami-114.jpg" style="direction: flex; margin: 0 auto; margin-bottom: 30px" id="showcase-p2" alt="Kitchen and bathroom of one of the cabins of the Nami Project">
    <hr class="my-3" width="200" id="line" style="margin: 0 auto;">
    <p style="font-size: 11px; margin-top: 2vw; direction: flex; margin: 0 auto">
      RECONNECTING WITH NATURE
    </p>
    <p style="font-size: 20px; direction: flex; margin: 0 auto">
      A New Experience
    </p>
    <p class="text-center" style="font-size: 13px; margin-right: 0px; direction: flex; margin: 20px 50px">
      Dedicated to teaching individuals to rediscover this elusive state, these unique six-night spiritual retreats
      will be led by renowned Buddhist monk Master Geshe La.
    </p>
    <p style="font-size: 14px; direction: flex; margin: 0 auto; margin-bottom: 30px"><u>
        Discover more</u></p>
    <img alt="Sideview of the couch of the forest view cabin" src="static/media/cabins/1/The Nami-92.jpg"
        style="direction: flex; margin: 0 auto" id="showcase-p3"></p>
    <hr class="my-3" width="200" id="line" style="margin: 0 auto;">
    <p style="font-size: 11px; margin-top: 2vw; direction: flex; margin: 0 auto">
      RECONNECTING WITH NATURE
    </p>
    <p style="font-size: 20px; direction: flex; margin: 0 auto">
      A New Experience
    </p>
    <p class="text-center" style="font-size: 13px; margin-right: 0px; direction: flex; margin: 20px 50px">
      Dedicated to teaching individuals to rediscover this elusive state, these unique six-night spiritual retreats
      will be led by renowned Buddhist monk Master Geshe La.
    </p>
    <p style="font-size: 14px; direction: flex; margin: 0 auto; margin-bottom: 30px"><u>
        Discover more</u></p>
    <img alt="An aerial shot of the Ucluelet coastline" src="static/media/rooms/2/The Nami-5.jpg" style="display: flex; margin: 0 auto; margin-bottom: 30px" id="showcase-p4">
    <img alt="An aerial shot of the Ucluelet coastline" src="static/media/rooms/3/The Nami-45.jpg" style="display: flex; margin: 0 auto; margin-bottom: 60px" id="showcase-p5">
    <div style="direction: flex; margin: 0 auto; margin-top: 10px;">
      <script type="text/javascript" async="async" class="embed-ldgfy-script-loader embed-ldgfy-button-script-loader"
        src="//cdn.lodgify.com/themes/shared/v3/assets/3.5.2/embed-ldgfy-button.min.js" data-website-id="389522"
        data-website-slug="thenamiproject" data-domain="lodgify.com" data-property-id="413421" data-culture="en"
        data-text="Book Your Stay Here" data-target="_self" data-bg-color="#f5f5f5" data-text-color="#0a0800"
        data-class-name="" data-currency="CAD"></script>
    </div>
    <figure class="text-center articleTitle title"
    style="width: 100%; margin-top: 30px; align-items: center; height: auto" id="title">

    <br>
    <div style="width: 100%; display: flex; justify-content: center;">
      <hr class="my-3" width="200">
    </div>
    <p style="font-size: 30px; position: relative; margin: 0 auto;">GALLERY</p>
    <div style="width: 100%; display: flex; justify-content: center;">
      <hr class="my-3" width="200">
    </div>
  </figure>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/rooms/4/The Nami-207.jpg" class="w-100"alt="View of the rooms from the outside of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/rooms/4/The Nami-61.jpg" class="d-block w-100" style="margin-top: 40px" alt="Inside view of the livingroom of one of the rooms">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/rooms/4/The Nami-179.jpg" class="d-block w-100" style="margin-top: 40px" alt="View of a room and a cabin of the Nami Project from the outside">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/rooms/3/The Nami-136.jpg" class="d-block w-100" style="margin-top: 40px" alt="One of the beds of a cabin of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/rooms/3/The Nami-186.jpg" class="d-block w-100" style="margin-top: 40px" alt="A view of the outside front of one of the cabins of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/rooms/4/The Nami-255.jpg" class="d-block w-100" style="margin-top: 40px" alt="The bedroom of one of the rooms of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/hotel/The Nami-183.jpg" class="d-block w-100" style="margin-top: 40px" alt="Top down view of all the cabins and the main building of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/cabins/4/The Nami-202.jpg" class="d-block w-100" style="margin-top: 40px" alt="View of two cabins of the Nami Project from the outside">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/cabins/1/The Nami-85.jpg" class="d-block w-100" style="margin-top: 40px" alt="Kitchen and cabinets of the forest view cabin of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/hotel/The Nami-221.jpg" class="d-block w-100" style="margin-top: 40px" alt="View of the three hot tubs of the Nami Project">
    </div>
    <div style="display: flex; margin: 0 30px;">
      <img src="static/media/hotel/The Nami-197.jpg" class="d-block w-100" style="margin-top: 40px" alt="View of the main building and some of the cabins of the Nami Project">
    </div>
  </div>
</div>


  <div class="large-screen" id="large-screen">
    <div style="display: inherit; justify-content: space-between; margin-bottom: 35px; position: relative;"
        id="showcase-large">
      <div style="width: 100%; display: flex; flex-direction: row; justify-content: left; margin-left: 50px; margin-top: 25px" id="lines3">
        <hr class="my-3" width="500">
        <div style="margin-left: 575px; position: absolute" id="button3">
          <button type="button" class="btn btn-outline-dark">Book Your Stay Here</button>
        </div>
      </div>
    <br>
    <div
      style="display: flex; justify-content: space-between; margin-top: 0vw; margin-left: 50px; margin-right: 50px; position: relative;">
      <div style="display: flex; flex-direction: column;"> <img width="750" alt="Kitchen and bathroom of one of the cabins of the Nami Project" src="static/media/cabins/2/The Nami-114.jpg" style="margin-top: 3vw;">
        <p style="font-size: 11px; margin-top: 2vw;">
          RECONNECTING WITH NATURE
        </p>
        <p style="font-size: 20px;">
          A New Experience
        </p>
        <p style="font-size: 13px; margin-right: 100px;">
          Desiring to bridge both worlds of our greatest inspiration, The Nami Project came to be to provide the
           unforgettable experience of the PNW coastline living.
        </p>
        <p style="font-size: 14px;"><u>
            Discover more</u></p>
        <p> <img width="550" alt="Bathroom of one of the rooms in the Nami Project" src="static/media/rooms/1/The Nami-242.jpg"
            style="margin-top: 50px; margin-left: 40px"></p>
        <p style="font-size: 11px; margin-top: 2vw; margin-left: 42px;">
          RECONNECTING WITH NATURE
        </p>
        <p style="font-size: 20px; margin-left: 42px;">
          A New Experience
        </p>
        <p style="font-size: 13px; margin-right: 150px; margin-left: 42px;">
          Dedicated to teaching individuals to rediscover this elusive state, these unique six-night spiritual retreats
          will be led by renowned Buddhist monk Master Geshe La.
        </p>
        <p style="font-size: 14px; margin-left: 42px;"><u>
            Discover more</u></p>
      </div>
      <div style="display: flex; flex-direction: column; margin-left: 110px; margin-right: 20vw;">
        <p> <img width="680" alt="Sideview of the couch of the forest view cabin"
            src="static/media/cabins/1/The Nami-92.jpg"></p>
        <p style="font-size: 11px; margin-top: 2vw;">
          RECONNECTING WITH NATURE
        </p>
        <p style="font-size: 20px;">
          A New Experience
        </p>
        <p style="font-size: 13px; margin-right: 150px;">
          Dedicated to teaching individuals to rediscover this elusive state, these unique six-night spiritual retreats
          will be led by renowned Buddhist monk Master Geshe La.
        </p>
        <p style="font-size: 14px;"><u>
            Discover more</u></p>
        <p> <img width="680" alt="Bed of one of the rooms at the Nami Project" src="static/media/rooms/2/The Nami-5.jpg"
            style="margin-top: 35px;"></p>
      </div>
    </div>

    <div
      style="width: 100%; display: flex; justify-content: center; transform: rotate(90deg); position: absolute; margin-top: -550px; margin-left: 10px">
      <hr class="my-3" width="500">
    </div>
    </div>

    <div id="gallery-big">
    <figure class="text-center articleTitle title"
    style="width: 100%; margin-top: 5px; align-items: center; height: auto" id="title">

    <br>
    <p style="font-size: 30px; position: relative; margin: 0 auto;">GALLERY</p>
    <div style="width: 100%; display: flex; justify-content: center;">
      <hr class="my-3" width="500">
    </div>
    </figure>

    <div class="slideshow-container"
    style="display: flex; overflow: hidden; width: 80%; max-height: 840px; margin-top: 40px;" id="main-slideshow">
    <div> 
    
      <!-- Full-width images with number and caption text -->
      <div class="mySlides6" style="display: inherit;">
        <img src="static/media/rooms/4/The Nami-207.jpg" class="w-100" alt="View of the rooms from the outside of the Nami Project">
      </div>
      <div class="mySlides6" style="display: inherit;">
        <img src="static/media/rooms/4/The Nami-61.jpg" class="w-100" alt="Inside view of the livingroom of one of the rooms">
      </div>
      <div class="mySlides6">
        <img src="static/media/rooms/4/The Nami-179.jpg" class="d-block w-100" alt="View of a room and a cabin of the Nami Project from the outside">
      </div>
      <div class="mySlides6">
        <img src="static/media/rooms/3/The Nami-136.jpg" class="d-block w-100" alt="One of the beds of a cabin of the Nami Project">
      </div>
      <div class="mySlides6">
        <img src="static/media/rooms/3/The Nami-186.jpg" class="d-block w-100" alt="A view of the outside front of one of the cabins of the Nami Project">
      </div>
      <div class="mySlides6">
        <img src="static/media/rooms/4/The Nami-255.jpg" class="d-block w-100" alt="The bedroom of one of the rooms of the Nami Project">
      </div>
      <div class="mySlides6">
        <img src="static/media/hotel/The Nami-183.jpg" class="d-block w-100" alt="Top down view of all the cabins and the main building of the Nami Project">
      </div>
      <div class="mySlides6">
        <img src="static/media/cabins/4/The Nami-202.jpg" class="d-block w-100" alt="View of two cabins of the Nami Project from the outside">
      </div>
      <div class="mySlides6">
        <img src="static/media/cabins/1/The Nami-85.jpg" class="d-block w-100" alt="Kitchen and cabinets of the forest view cabin of the Nami Project">
      </div>
      <div class="mySlides6">
        <img src="static/media/hotel/The Nami-221.jpg" class="d-block w-100" alt="View of the three hot tubs of the Nami Project">
      </div>
      <div class="mySlides6">
        <img src="static/media/hotel/The Nami-197.jpg" class="d-block w-100" alt="View of the main building and some of the cabins of the Nami Project">
      </div>
      <a class="prev" style="font-size: 30px;" onclick="plusSlides1(-1, 6)">&#10094;</a>
      <a class="next" style="font-size: 30px;" onclick="plusSlides1(1, 6)">&#10095;</a>
    </div>
    </div>
  </div>
</div>

<div style="width: 100%; height: auto;">
<div id="button"
  style="display: flex; margin: 0 auto; margin-top: 50px; margin-bottom: -20px; margin-left: 45%; position: relative">
  <button type="button" class="btn btn-outline-dark">Book Your Stay Here</button>
</div>
</div>
</div>

</body>

{% endblock %}