<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/614b7fb67c.js" crossorigin="anonymous"></script>
  <link href="static/styles.css" rel="stylesheet">
  <title>The Nami Project</title>

</head>

<body>
    <div style="height: 100%; width: 100%;">
        <header id="header">

            <div class="container mx-auto">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-airbnb"></i>
            <i class="fa-solid fa-phone"></i>
            </div>

            <div class="r" style="padding-left: 5.5vw;" id="r">
              <a href="https://thenamiproject.lodgify.com/" target="_blank" style="text-decoration: none; cursor: pointer;">Reserve</a>
            </div>

            <div style="padding-left: 60vw;" class="m" id="m">
            Menu
            </div>

            <div style="width: 100%; padding-left: 200px; position: absolute;">
                <div class="hamburger-on"></div>
            </div>

            <div class="logo">
                <img src="static/media/logo-black.png" onClick="location.href = '/';" class="logo" id="logo" alt="The Nami Project logo">
            </div>


            <div class="align" id="align">
            <ul class="nav-links">
                <div class="mobile-icons">
                  <li><img src="static/media/logo-black.png" alt="The Nami Project logo"
                      style="width: 65%; margin-left: 5vw; margin-bottom: 0.1vw; "></li>
                  </div>
                  <li id="m1"><a href="/location" style="cursor: pointer">Location</a></li>
                  <li id="m2"><a href="/rooms" class="space">Rooms</a></li>
                  <li id="m3"><a href="/cabins">Cabins</a></li>
                  <li id="m4"><a href="/our-story">Our Story</a></li>
                  <div class="mobile-icons" style="margin-bottom: 5vw;">
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-airbnb"></i>
                  <i class="fa-solid fa-phone"></i>
                </div>
            </ul>
            </div>

            <div class="hamburger" id="burger">
            <img src="static/icons/ellipsis-solid.svg" alt="Three horizontal dots">
            </div>

            <div style="padding-right: 2vw; display: none; cursor: pointer;" id="menu">
            Menu
            </div>

            <div id="button">
              <button type="button" class="btn btn-outline-dark" style="margin-right: 3.5vw;" id="small-book-button">
                <a href="https://thenamiproject.lodgify.com/" target="_blank" style="text-decoration: none; cursor: pointer;">Reserve</a>
            </button>
            </div>

            <div class="nav-links1" id="nav-links"></div>


        </header>
    </div>

  <div style="width: 100%; height: auto;" id="bottom-bar">
    <div class="bar" style="display: flex; align-items: center;">
   
        <div style="margin: 0 auto; display: flex; flex-direction: row;">
         <div style="margin-top: 9px; margin-right: 20px;"> 
          Book Your Stay:
         </div>
         <script type="text/javascript" class="" src="https://cdn.lodgify.com/portable-search-bar/1.87.0/renderPortableSearchBar.js"></script><div><div id="lodgify-search-bar" data-website-id="389522" data-language-code="en" data-search-page-url="https://thenamiproject.lodgify.com/en/other-rooms-cabins" data-dates-check-in-label="Arrival" data-dates-check-out-label="Departure" data-guests-counter-label="Guest" data-guests-input-singular-label="{{NumberOfGuests}} guest" data-guests-input-plural-label="{{NumberOfGuests}} guests" data-search-button-label="Search" data-new-tab="true">
        </div>
        <style type="text/css">
        html {
          --lodgify-ui-action-color: #000000;
          --lodgify-ui-action-darker-color: #000000;
          --lodgify-ui-action-lighter-color: #999999;
          --lodgify-ui-action-contrast-color: #ffffff;
        }
        </style>
        </div>
          </div>
        </div>   
    </div>
  </div>

    <div class="bar1" style="align-items: center; width: 100%; height:72px" id="bar-bottom-small">
        
          <button type="button" class="btn btn-outline-dark" style="display: flex; margin: 0 auto; margin-top: -20px;" id="small-book-button">
              <a href="https://thenamiproject.lodgify.com/" target="_blank" style="text-decoration: none; cursor: pointer;">Check Our Availability</a>
          </button>

    </div>

  <script src="static/pages.js"></script>

  <script>
    const header = document.querySelector("header");
    const hamburger = document.querySelector(".hamburger-on");
    const navLinks = document.querySelector(".nav-links");
    const ham = document.querySelector(".hamburger");
    const menu = document.getElementById("menu");
    let hamburgerOpen = false;
    let hamOpen = 0;

    window.addEventListener("scroll", function () {
      header.classList.toggle("sticky", window.scrollY > 0);
    })

    hamburger.addEventListener("click", function () {
      if (!hamburgerOpen) {
        navLinks.classList.toggle("show-navlinks");
        hamburger.classList.toggle("hamburger-off");
      } else {
        navLinks.classList.remove("show-navlinks");
        hamburger.classList.remove("hamburger-off");
        hamburgerOpen = false;
      }
    });

    m.addEventListener("click", function () {
      if (!hamburgerOpen) {
        navLinks.classList.toggle("show-navlinks");
        hamburger.classList.toggle("hamburger-off");
      } else {
        navLinks.classList.remove("show-navlinks");
        hamburger.classList.remove("hamburger-off");
        hamburgerOpen = false;
      }
    });

    ham.addEventListener("click", function () {
      if (hamOpen == 0) {
        document.getElementById("align").style.display = "flex";
        document.getElementById("header").style.height = "12%";
        hamOpen = 1;
      } else {
        document.getElementById("header").style.height = "4vw";
        document.getElementById("logo").style.width = "30%";
        document.getElementById("align").style.display = "none";
        hamOpen = 0;
      }
    });

    menu.addEventListener("click", function () {
      if (hamOpen == 0) {
        document.getElementById("align").style.display = "flex";
        document.getElementById("header").style.height = "12%";
        hamOpen = 1;
      } else {
        document.getElementById("header").style.height = "4vw";
        document.getElementById("logo").style.width = "30%";
        document.getElementById("align").style.display = "none";
        hamOpen = 0;
      }
    });
  </script>

{% block main %}


<!-- Code Will Go In This Space -->


{% endblock %}

<!-- Footer -->
<footer class="text-center text-lg-start text-white footer"
  style="background-color: white; margin-bottom: 4vw; margin-top: 2vw;">
  <!-- Grid container -->
  <div class="p-4 pb-0" style="color: black;">
    <!-- Section: Links -->
    <section class="">
      <hr class="my-3">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            The Nami Project
          </h6>
          <p>
            Nestled beside the Pacific Rim National Park in Ucluelet, British Columbia, Canada, in front of the crashing waves
            of the majestic Pacific Ocean, The Nami Project was created for the purpose of a personal escape or just the
            destination of the wanderlust desire of a traveller.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful Links</h6>
          <p>
            <a href="/location" style="color: black; text-decoration: none; cursor: pointer;">Location</a>
          </p>
          <p>
            <a href="/our-story" style="color: black; text-decoration: none; cursor: pointer;">Our Story</a>
          </p>
          <p>
            <a href="https://thenamiproject.lodgify.com/" target="_blank" style="color: black; text-decoration: none; cursor: pointer;">Availability</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="cursor: pointer;"><a href="/rooms-cabins" style="color: black; text-decoration: none;">
            Rooms & Cabins
          </a></h6>
          <p>
            <a href="/rooms" style="color: black; text-decoration: none; cursor: pointer;">Rooms</a>
          </p>
          <p>
            <a href="/oceanfront" style="color: black; text-decoration: none; cursor: pointer;">Oceanfront</a>
          </p>
          <p>
            <a href="/forest-view" style="color: black; text-decoration: none; cursor: pointer;">Forest View</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> 828 Odyssey Lane, BC V0R 3A0, CA</p>
          <p><i class="fas fa-envelope mr-3"></i> info@nami.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3">

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            © 2022 Copyright:
            <a style="color: black;" href="https://thenamiproject.com/">The Nami Project</a>
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0 text-center mx-auto">
          <!-- Facebook -->
          <div class="mx-auto">
            <i class="fa-brands fa-facebook-f" style="margin-right: 2vw;"></i>
            <i class="fa-brands fa-instagram" style="margin-right: 2vw;"></i>
            <i class="fa-brands fa-airbnb" style="margin-right: 2vw;"></i>
            <i class="fa-solid fa-phone" style="margin-right: 3vw;"></i>
          </div>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->

</html>
